{% extends 'base.html'%}
{%load  static %}
{% block content%}
<link rel="stylesheet" href="{% static 'addcus.css' %}">
<div class="main-content">
            <div class="breadcrumb">
                Customer / Add Customer
            </div>
            <h2>Add Customer</h2>
            <form class="add-customer-form">
                <div class="form-row">
                    <div class="form-group">
                        <label>Name<span>*</span></label>
                        <input type="text" placeholder="Customer Name" required>
                    </div>
                    <div class="form-group">
                        <label>Mobile<span>*</span></label>
                        <input type="text" placeholder="Customer Mobile" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" placeholder="Customer Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group address-group">
                        <label>Address<span>*</span></label>
                        <textarea placeholder="Address" required></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit">Add Customer</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}